<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GPA Calculator</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
   
    <div class="container">
      <h1>
        <img src="{{ url_for('static', filename='assets/logo.png') }}" alt="Logo" class="logo">

        OUSL GPA Calculator
    </h1>

        <div class="select-degree">
            <label for="degree">Select Degree:</label>
            <select id="degree" onchange="onDegreeChange()">
                <option value="">-- Select Degree --</option>
                <option value="BSE">Bachelor of Software Engineering</option>
            </select>
        </div>

        <!-- Courses Table -->
        <table id="courses-table">
            <thead>
                <tr>
                    <th>Course Code</th>
                    <th>Course Title</th>
                    <th>Result</th>
                    <th>Action</th>
                </tr>
                <tr id="compulsory-header-row" style="display: none;">
                    <th id="compulsory" colspan="1">Compulsory Courses</th>
                </tr>
            </thead>
            <tbody id="courses-table-body"></tbody>

            <thead>
                <tr id="elective-header-row" style="display: none;">
                    <th id="elective" colspan="1">Elective Courses</th>
                </tr>
            </thead>
            <tbody id="elective-courses-body"></tbody>
        </table>

        <div class="divider">
            <h3>Elective Courses</h3>
            <select id="elective-select" onchange="addElectiveCourse()">
                <option value="">Select Elective Course</option>
            </select>
        </div>

        <button class="btn btn-success" onclick="calculateGPA()">Calculate GPA</button>
        <button class="btn btn-error" onclick="resetForm()">Reset</button>
        
        <!-- GPA Calculation -->
        <div id="result"></div>
        <div id="warning" class="warning-message"></div>

        
    </div>

     <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
